.view {
  left: 50%;
  top: 50vh;
  position: fixed;
  transform: translate(-50%, -50%);

  &-tips-title {
    line-height: 30px;

    i {
      margin: 0 8px;
      font-size: 30px;
    }
  }

  &-card {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    align-items: stretch;
    justify-content: space-between;

    &-icon {
      font-size: 30px;
    }

    &-list {
      width: 200px;
      border: none;
      display: flex;
      flex-direction: column;
    }

    /deep/
    .el-card {
      border: none;
      margin-bottom: 20px;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }
}
