@import "color";

* {
  margin: 0;
  padding: 0;
  position: relative;
  color: $--theme-color;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  text-align: center;
  background-color: $--theme;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, Avenir, sans-serif;
}

#App {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.var-theme {
  @import "theme";
}

@media (prefers-color-scheme: dark) {
  .var-theme {
    $--theme: #2c3e50;
    $--theme-color: #f0f1ef;
    /* theme */
    @import "theme";
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f0f1ef;

  &-left,
  &-right {
    height: 100%;
    flex: 0 0 auto;
    overflow-y: auto;
  }

  &-left {
    width: 200px;
    background-color: #fff;
  }

  &-right {
    padding: 0 32px;
    width: calc(100% - 200px);

    .el-divider__text {
      background-color: #f0f1ef;
    }
  }
}

.var-cord {
  width: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;

  .var-cord {
    padding: 0;
  }

  &-alert {
    .el-alert {
      &__icon,
      &__title {
        color: #fff;
      }
    }
  }
}
