& {
  color: $--theme-color;
  background-color: $--theme;
}

/* pair */
&-pair {
  color: $--theme-color + 10%;
  background-color: $--theme + 10%;
}

&-pair-2 {
  color: $--theme-color + 20%;
  background-color: $--theme + 20%;
}

&-pair-3 {
  color: $--theme-color + 30%;
  background-color: $--theme + 30%;
}

&-pair-4 {
  color: $--theme-color + 40%;
  background-color: $--theme + 40%;
}

&-pair-5 {
  color: $--theme-color + 50%;
  background-color: $--theme + 50%;
}
