/deep/
.workbench-dialog {
  display: flex;
  border-radius: 11px;
  flex-direction: column;
  height: calc(100% - 100px);

  &-title {
    width: 100%;
  }

  .el-dialog__header {
    color: #fff;
    height: 60px;
    display: flex;
    flex: 0 0 60px;
    box-sizing: border-box;
    background-color: #FF86B2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .el-dialog__close {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .el-dialog__body {
    position: relative;
    flex: 1 1 auto;
    padding: 0;
  }
}
