/deep/
.workbench-dialog {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  flex-direction: column;
  height: calc(100% - 100px);

  &-title {
    width: 100%;
  }

  .el-dialog__header {
    color: #fff;
    height: 60px;
    display: flex;
    flex: 0 0 60px;
    box-sizing: border-box;
    background-color: #FF86B2;
  }

  .el-dialog__close {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .el-dialog__body {
    position: relative;
    flex: 1 1 auto;
    padding: 0;
  }
}

/deep/
.menu-list {
  position: relative;

  > div {
    height: 30px;
    margin: 5px 0;
    color: #2c3e50;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    line-height: 30px;
    position: relative;
    padding: 5px 4px 5px 32px;

    &:hover {
      color: #FF6AA1;
    }

    &::before {
      top: 0;
      right: 0;
      content: '';
      height: 100%;
      position: absolute;
      transform: rotateX(90deg);
      transition: transform .1s;
      border-left: 4px solid #FF86B2;
    }
  }

  &-active > div {
    color: #FF6AA1;
    background-color: #FFE4EE;

    &::before {
      transform: rotateX(0deg);
    }
  }

  & > &-menu {
    margin: 0;
    cursor: default;
    padding-left: 20px;
    color: #8c939d !important;
  }
}

