.workbench-editor {
  z-index: 100;

  &-sidebar {
    top: 0;
    right: 0;
    width: 20px;
    z-index: 110;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 3px #ddd;
  }
}
