.workbench-site {
  width: 100%;
  height: 100%;
  display: flex;

  &-menu,
  &-body {
    overflow-y: auto;
  }

  &-menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  &-body {
    padding: 32px;
    width: calc(100% - 200px);
    background-color: #f2f2f2;
    border-left: 1px solid #ddd;
  }

  &-home {
    padding: 16px;
    background-color: #fff;

    > div {
      height: 38px;
      border-radius: 4px;
      border: 1px solid #ddd;

      &:hover {
        border: 1px solid #FF86B2;
        background-color: #ffeaf3;
      }

      /deep/
      .var-lang {
        color: #FF86B2;
      }

      .el-dropdown {
        height: 38px;
      }
    }
  }
}

.menu-list {
  position: relative;

  > div {
    height: 30px;
    margin: 5px 0;
    color: #2c3e50;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    line-height: 30px;
    position: relative;
    padding: 5px 4px 5px 32px;

    &:hover {
      color: #FF6AA1;
    }

    &::before {
      top: 0;
      right: 0;
      content: '';
      height: 100%;
      position: absolute;
      transform: rotateX(90deg);
      transition: transform .1s;
      border-left: 4px solid #FF86B2;
    }
  }

  &-active > div {
    color: #FF6AA1;
    background-color: #FFE4EE;

    &::before {
      transform: rotateX(0deg);
    }
  }

  & > &-menu {
    margin: 0;
    cursor: default;
    padding-left: 20px;
    color: #8c939d !important;
  }
}

